<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>BOOWA</title>
</head>
<body >
    <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title" style="text-align: center;"> Fruit Recognition Bot
            <i class="fas fa-comment-alt"></i> 
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>
      
        <main class="msger-chat">

          <!-- for chatbot's-->
          <div class="msg left-msg">
            <div
             class="msg-img"
             style="background-image: url(images/programmer.png)"
            ></div>
      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">BOOWA</div>
                <div class="msg-info-time">Introduction</div>
              </div>
      
              <div class="msg-text">
                Hi, welcome to BOOWA! your go-to bot for instantly identifying local fruits! Go ahead and let me guess your fruits. 😄
              </div>
            </div>
          </div>

          <!-- 
            
            Check if the data is available or not. 
            If POST_DATA is exist, show all these dialogs

          -->
          {% if (POST_DATA) %}
          <div class="msg right-msg">
            <div
             class="msg-img"
             style="background-image: url(images/user.png)"
            ></div>
      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">User</div>
                <div class="msg-info-time">File Preview</div>
              </div>
              
              <div class="msg-text">
                <img style="height: 200px; width: 200px;" src="/static/images/upload/{{POST_DATA.file.filename}}">
              </div>
            </div>
          </div>

          <div class="msg left-msg">
            <div
             class="msg-img"
             style="background-image: url(images/programmer.png)"
            ></div>
      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">BOOWA</div>
                <div class="msg-info-time">Prediction Result</div>
              </div>
      
              <div class="msg-text">  
                Hi, it looks like that is <b>{{POST_DATA.fruits.max.type}}</b> with the probability of {{POST_DATA.fruits.max.probability}}! 
              </div>
              <span style="display:inline-block; width: YOURWIDTH;"></span>
              <div class="msg-text">
                Here is all the probabilities: 
                {% for key, value in POST_DATA.fruits.all.items() %}
                <li> {{ key }} : {{ value }}</li>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </main>
      
        <form class="msger-inputarea" method=post action="{{ url_for('handle_image') }}" enctype=multipart/form-data>
          <input type="file" id="files" accept="image/png, image/jpg, image/jpeg, image/webp" name=file class="msger-input" placeholder="Enter your message..." hidden>
          {% if (POST_DATA) %}
          <label class="msger-input" id="textupdate" for="files">You've uploaded {{ POST_DATA.file.filename}}</label>
          {% else %}
          <label class="msger-input" id="textupdate" for="files">Click me to upload your picture of fruit!</label>
          {% endif %}
          <button type="submit" id="submit" class="msger-send-btn" disabled>Send</button>
          <button type="button" id="clearbutton" class="msger-send-btn" onclick="clearFile()">Clear</button>
        </form>
      </section>
</body>

<script>
  const filesSelector = document.getElementById("files")
  const fileName = document.getElementById("textupdate")
  const buttonSubmit = document.getElementById("submit")

  filesSelector.addEventListener("change", (e) => {
    fileName.textContent = e.target.files[0].name
    buttonSubmit.disabled = false;
  })

  buttonSubmit.addEventListener("change", (e) => {
    if(filesSelector.value == null){
      console.log("Can't send if no file selected.");
    }
  })

  clearFile = () => {
    filesSelector.value = null
    fileName.textContent = "Cleared."
  }
</script>
</html>
